.sc-theme .sc-pane.sc-main{background:#B4C0D7;}.sc-theme #loading{background:#B4C0D7;}
.sc-pane .graph-view{background-color:#E5E8EF;color:black;border:1px solid #A2B5D7;}
.blank-frame{background-color:#E5E8EF;border:1px solid #A2B5D7;}.sc-theme .sc-list-view{background-color:#E5E8EF;border:1px solid #A2B5D7;}
body.sc-theme{background-color:#B4C0D7;}